@model TravelSite.Models.Activity
@{
    ViewBag.Title = "AddActivity";
}

<p>
    <h2>
        @ViewBag.Activity.Name
    </h2>
</p>

@*display details and reviews*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @ViewBag.Activity.Address
        </td>
        <td>
            @ViewBag.Activity.Phone
        </td>
        <td>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.Id, new { @Value = ViewBag.Activity.Id})
                @Html.HiddenFor(m => m.Name, new { @Value = ViewBag.Activity.Name})
                @Html.HiddenFor(m => m.Phone, new { @Value = ViewBag.Activity.Phone})
                @Html.HiddenFor(m => m.Address, new { @Value = ViewBag.Activity.Address})
                @Html.HiddenFor(m => m.Lat, new { @Value = ViewBag.Activity.Lat})
                @Html.HiddenFor(m => m.Lng, new { @Value = ViewBag.Activity.Lng})
                <input type="submit" value="Confirm" class="btn btn-default" />
            }
        </td>
    </tr>
</table>
<table class="table-striped">
        <tr>
            <th class="col-md-4">
                Rating
            </th>
            <th class="col-md-4">
                Traveler Name
            </th>
            <th class="col-md-4">
                Comment
            </th>
        </tr>
    @if (ViewBag.Reviews.Count > 0)
    {
    foreach (TravelSite.Models.Review review in ViewBag.Reviews)
    {
        <tr>
            <td>
                @review.Rating
            </td>
            <td>
                @review.Traveler.FirstName
            </td>
            <td>
                @review.Comment
            </td>
        </tr>
    }
    }
    else { 
        <tr>
            <td>-</td>
            <td>-</td>
            <td>This activity has no reviews yet.</td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>@Html.ActionLink("LEAVE REVIEW", "Create", "Review", new { @class = "btn btn-warning",  id=ViewBag.Activity.Id}, null)</td>
    </tr>
</table>
@* final confirmation to add to itinerary,

    post method with catch for cancel?*@
