@model TravelSite.Models.Activity
@{
    ViewBag.Title = "GetActivites";
}

<h2>Get Activites</h2>
<style>

    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }

    /*#map-canvas { height: 70%; width :50%; margin-left:auto; margin-right:auto;}*/

    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        position: center;
    }

    body {
        padding: 0 !important;
    }

    table {
        font-size: 16px;
    }

    .hotel-search {
        display: inline-flex;
        margin-top: 70px;
        width: 440px;
    }

    #map {
        margin-top: 5px;
        height: 440px;
        margin-left: auto;
        margin-right: auto;
    }

    #listing, #popularList {
        height:440px;
        overflow: auto;
        margin-top: 5px;
        cursor: pointer;
        overflow-x: hidden;
    }

    #findhotels {
        font-size: 14px;
    }

    .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
    }
    #resultsTable, #popularTable {
        border-collapse: collapse;
        width: 100%;
    }

    #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
    }

    .iw_table_row {
        height: 18px;
    }

    .iw_attribute_name {
        font-weight: bold;
        text-align: right;
        font-size:16px;
    }

    .iw_table_icon {
        text-align: right;
    }
    #rangeSlider{
        margin-top:25px;
    }
</style>



<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<body>
    <div class="row">
         <div id="popularList"class="col-md-3">
             <table id="popularTable">
                 <tbody id="popular"></tbody>
             </table>
         </div>

        <div id="map" class="col-md-6"></div>

        <div id="listing" class="col-md-3">
            <table id="resultsTable">
                <thead>Powered by Yelp</thead>
                <tbody id="results"></tbody>
            </table>
        </div>
    </div>
        <div>
            <div id="info-content">
                <table>
                    <tr id="iw-url-row" class="iw_table_row">
                        <td id="iw-icon" class="iw_table_icon"></td>
                        <td id="iw-url"></td>
                    </tr>
                    <tr id="iw-address-row" class="iw_table_row">
                        <td class="iw_attribute_name">Address:</td>
                        <td id="iw-address"></td>
                    </tr>
                    <tr id="iw-phone-row" class="iw_table_row">
                        <td class="iw_attribute_name">Telephone:</td>
                        <td id="iw-phone"></td>
                    </tr>
                    <tr id="iw-rating-row" class="iw_table_row">
                        <td class="iw_attribute_name">Rating:</td>
                        <td id="iw-rating"></td>
                    </tr>
                    <tr id="iw-submit" class="iw_table_row">
                        <td></td>
                        <td>
                            @Html.ActionLink("Add Activity", "AddActivity", "Itinerary", "Itinerary", new { @class = "btn btn-warning" })
                            <input type="submit" value="Create" class="btn btn-default"  />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        //slider display code
        <div>
            <center>
                <div id="rangeSlider">
                    <input class="bar" type="range" id="rangeInput" min="1" max="36" value="15" onchange="rangevalue.value = value" />
                    <span class="highlight"></span>
                    <output id="rangevalue">15</output><span>km</span>
            @using (Html.BeginForm())
                {
                <div class="container">
                     <div class="row">
                        <div id="popularList" class="col-md-3">
                            <table id="popularTable">
                                <thead>Most Popular Places(Yelp)</thead>
                                <tbody id="popular"></tbody>
                            </table>
                        </div>

                        <div id="map" class="col-md-6"></div>

                        <div id="listing" class="col-md-3">
                            <table id="resultsTable">
                                <thead>Powered by Yelp</thead>
                                <tbody id="results"></tbody>
                        </table>
                        </div>
                    </div>
                </div>
            <div>
                <div id="info-content">
                    <table>
                        <tr id="iw-url-row" class="iw_table_row">
                            <td id="iw-icon" class="iw_table_icon"></td>
                            <td id="iw-url"></td>
                        </tr>
                        <tr id="iw-address-row" class="iw_table_row">
                            <td class="iw_attribute_name">Address:</td>
                            <td id="iw-address"></td>
                        </tr>
                        <tr id="iw-phone-row" class="iw_table_row">
                            <td class="iw_attribute_name">Telephone:</td>
                            <td id="iw-phone"></td>
                        </tr>
                        <tr id="iw-rating-row" class="iw_table_row">
                            <td class="iw_attribute_name">Rating:</td>
                            <td id="iw-rating"></td>
                        </tr>
                        <tr id="iw-submit" class="iw_table_row">
                            <td></td>
                            <td>

                                <input type="submit" value="Details" class="btn btn-default" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            //slider display code
            <div>
                <center>
                    <div id="rangeSlider">
                        <input class="bar" type="range" id="rangeInput" min="1" max="36" value="15" onchange="rangevalue.value = value" />
                        <span class="highlight"></span>
                        <output id="rangevalue">15</output><span>km</span>
                    </div>
                </center>
            </div>
            <div>
                <center>
                    <div id="ratingSlider">
                        <input class="bar" type="range" id="ratingInput" min="1" max="50" value="30" onchange="ratingvalue.value = (value/10)" />
                        <span class="highlight"></span>
                        <output id="ratingvalue">3</output>
                    </div>
                </center>
            </div>
            //end slider display code
            @Html.HiddenFor(model => model.Name, new { id = "activityName"})
            @Html.HiddenFor(model => model.Address, new { id = "activityAddress"})
            @Html.HiddenFor(model => model.Phone, new { id = "activityPhone"})
            @Html.HiddenFor(model => model.Lat, new { id = "activityLat"})
            @Html.HiddenFor(model => model.Lng, new { id = "activityLng"})
            
        }
    <script>
        var map, bounds, infoWindow;
        var markers = [];
        var hostnameRegexp = new RegExp('^https?://.+?/');
        var searchResults = @Html.Raw(Json.Encode(ViewBag.Activities));
        var popularResults = @Html.Raw(Json.Encode(ViewBag.Popular));
        for (let i = 0; i < searchResults.length; i++) {
            for (let j = 0; j < popularResults.length; j++) {
                if (searchResults[i].id == popularResults[j].id) {
                    searchResults[i].isPopular = true;
                } else if(!searchResults[i].isPopular){
                    searchResults[i].isPopular = false;
                }
            }
        }
        $(document).ready( function(){
            initMap();
            placeMarkers(searchResults, $("#rangevalue").val(), $("#ratingvalue").val());
        })

        function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 14,
                        center: {lat: @ViewBag.HotelLat, lng: @ViewBag.HotelLng},
                        mapTypeControl: false,
                        panControl: false,
                        zoomControl: false,
                        streetViewControl: false
                    });

                    infoWindow = new google.maps.InfoWindow({
                        content: document.getElementById('info-content')
                    });

        }

                $(document).on('change', '#rangeInput', function() {
                        placeMarkers(searchResults, $("#rangevalue").val(), $("#ratingvalue").val());
                });

                $(document).on('change', '#ratingInput', function() {
                         placeMarkers(searchResults, $("#rangevalue").val(), $("#ratingvalue").val());
                });



        function placeMarkers(results, rangeValue, ratingValue) {
            clearMarkers();
            clearResults();
            clearPopularResults();
            bounds = new google.maps.LatLngBounds();
                    for (var i = 0; i < results.length; i++) {
                        if (results[i].rating >= ratingValue && results[i].distance <= (rangeValue*1000) || results[i].isPopular) {
                            markers[i] = new google.maps.Marker({
                                position: { lat: results[i].coordinates.latitude, lng: results[i].coordinates.longitude},
                                animation: google.maps.Animation.DROP,
                                label: results[i].name.charAt(0) + i,
                                title: results[i].name
                            });
                            markers[i].addListener('click', function () {
                                buildIWContent(results[parseInt(this.label.slice(1))]);
                            });
                            markers[i].setMap(map);
                            results[i].isPopular ? addPopularResult(results[i], i) : addResult(results[i], i);
                            bounds.extend(new google.maps.LatLng({ lat: results[i].coordinates.latitude, lng: results[i].coordinates.longitude }));
                        }
                    }
            map.fitBounds(bounds);
                }

                function clearMarkers() {
                    for (var i = 0; i < markers.length; i++) {
                        if (markers[i]) {
                            markers[i].setMap(null);
                        }
                    }
                    markers = [];
                }

                function addResult(result, i) {
                    var results = document.getElementById('results');
                    var tr = document.createElement('tr');
                    tr.onclick = function () {
                        google.maps.event.trigger(markers[i], 'click');
                    };
                    var labelTd = document.createElement('td');
                    var nameTd = document.createElement('td');
                    var label = document.createTextNode(result.name.charAt(0) + i);
                    var name = document.createTextNode(result.name);
                    nameTd.appendChild(name);
                    labelTd.appendChild(label);
                    tr.appendChild(labelTd);
                    tr.appendChild(nameTd);
                    results.appendChild(tr);
        }

        function addPopularResult(result, i) {
            var popular = document.getElementById("popular");
            var tr = document.createElement('tr');
            tr.onclick = function () { google.maps.event.trigger(markers[i], "click") };
            var labelTd = document.createElement('td');
            var nameTd = document.createElement('td');
            var label = document.createTextNode(result.name.charAt(0) + i);
            var name = document.createTextNode(result.name);
            nameTd.appendChild(name);
            labelTd.appendChild(label);
            tr.appendChild(labelTd);
            tr.appendChild(nameTd);
            popular.appendChild(tr);
        }

                function clearResults() {
                    var results = document.getElementById('results');
                    while (results.childNodes[0]) {
                        results.removeChild(results.childNodes[0]);
                    }
        }
        function clearPopularResults() {
            var popular = document.getElementById('popular');
            while (popular.childNodes[0]) {
                popular.removeChild(popular.childNodes[0]);
            }
        }

                // Load the place information into the HTML elements used by the info window.
        function buildIWContent(place) {
            document.getElementById('iw-url').innerHTML = '<b><a href="' + place.url +
                '">' + place.name + '</a></b>';
            document.getElementById('iw-address').textContent = place.location.address1;

            if (place.phone) {
                document.getElementById('iw-phone-row').style.display = '';
                document.getElementById('iw-phone').textContent = place.phone;
            } else {
                document.getElementById('iw-phone-row').style.display = 'none';
            }
            if (place.rating) {
                var ratingHtml = '';
                for (var i = 0; i < 5; i++) {
                    if (place.rating < (i + 0.5)) {
                        ratingHtml += '&#10025;';
                    } else {
                        ratingHtml += '&#10029;';
                    }
                    document.getElementById('iw-rating-row').style.display = '';
                    document.getElementById('iw-rating').innerHTML = ratingHtml;
                }
            } else {
                document.getElementById('iw-rating-row').style.display = 'none';
            }
            $("#activityName").val(place.name);
            $("#activityAddress").val(place.location.address1);
            $("#activityPhone").val(place.phone);
            $("#activityLat").val(place.coordinates.latitude);
            $("#activityLng").val(place.coordinates.longitude);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@APIKey.Google&libraries=places" async defer></script>
</body>